body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px; /* Adjust the max-width for responsiveness */
  background-color: #ffffff; /* Change background color */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#question-container {
  flex-direction: column;
  gap: 1.5rem;
}

#question {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  cursor: pointer;
}

.btn {
  padding: 1rem 2rem; /* Adjust button padding for better appearance */
  background-color: #007bff; /* Change button background color */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem; /* Adjust button font size */
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Change button hover color */
}

.hide {
  display: none;
}

#result {
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#progress {
  text-align: center;
  font-size: 1.2rem;
}

#timer {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
